<section class="work-experience section">
  <app-section-title [title]="sectionTitle"></app-section-title>
  <article class="work">
    <div class="project">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="project1"
        alt="Project 1 Logo"
      />
      <h1 class="project-title">Teacher - Students Web Application (Work)</h1>
      <div class="used-techs">
        <span>html</span>
        <span>css</span>
        <span>angular</span>
        <span>NodeJs</span>
        <span>Express</span>
        <span>MongoDB</span>
      </div>
      <p style="font-size: 1.2rem; text-align: center">
        Sorry Code is not available (can be seen in any interview)
      </p>
    </div>

    <div class="project">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="project2"
        alt="Project 1 Logo"
      />
      <h1 class="project-title">Twitter Web Application Clone (training)</h1>
      <div class="used-techs">
        <span>html</span>
        <span>css</span>
        <span>angular</span>
        <span>NodeJs</span>
        <span>Express</span>
        <span>MongoDB</span>
      </div>
    </div>

    <div class="project">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="project3"
        alt="Project 1 Logo"
      />
      <h1 class="project-title">E-commerce Clone (In Progress)</h1>
      <div class="used-techs">
        <span>html</span>
        <span>css</span>
        <span>angular</span>
        <span>NodeJs</span>
        <span>Express</span>
        <span>MongoDB</span>
      </div>
    </div>

    <a href="https://github.com/AbdElRahmanMostafa1/-ReactJs-Tesla_Clone">
      <div class="project">
        <img
          [defaultImage]="defaultImage"
          [lazyLoad]="project4"
          alt="Project 2 Logo"
        />
        <h1 class="project-title">Tesla Clone (training)</h1>
        <div class="used-techs">
          <span>html</span>
          <span>css</span>
          <span>reactJs</span>
        </div>
        <p style="font-size: 1.2rem; text-align: center">Code is available</p>
      </div>
    </a>

    <a href="https://github.com/AbdElRahmanMostafa1/ReactJs-YouTube">
      <div class="project">
        <img
          [defaultImage]="defaultImage"
          [lazyLoad]="project5"
          alt="Project 2 Logo"
        />
        <h1 class="project-title">YouTube Clone (training)</h1>
        <div class="used-techs">
          <span>html</span>
          <span>css</span>
          <span>reactJs</span>
        </div>
        <p style="font-size: 1.2rem; text-align: center">Code is available</p>
      </div>
    </a>

    <a href="https://github.com/AbdElRahmanMostafa1/ReactsJ-Breaking_Bad">
      <div class="project">
        <img
          [defaultImage]="defaultImage"
          [lazyLoad]="project6"
          alt="Project 5 Logo"
        />
        <h1 class="project-title">Breaking Bad (training)</h1>
        <div class="used-techs">
          <span>html</span>
          <span>css</span>
          <span>reactJs</span>
        </div>
        <p style="font-size: 1.2rem; text-align: center">Code is available</p>
      </div>
    </a>

    <a href="https://github.com/AbdElRahmanMostafa1/Restaurant-Landing-Page">
      <div class="project">
        <img
          [defaultImage]="defaultImage"
          [lazyLoad]="project7"
          alt="Project 2 Logo"
        />
        <h1 class="project-title">Restaurant Landning Page (training)</h1>
        <div class="used-techs">
          <span>html</span>
          <span>css</span>
        </div>
        <p style="font-size: 1.2rem; text-align: center">Code is available</p>
      </div>
    </a>
  </article>
</section>
