<section class="contact-me section">
  <app-section-title [title]="sectionTitle"></app-section-title>
  <div class="info-wrapper">
    <article class="email">
      <span class="head">Email: </span>
      <span class="info">abdelrahman22.mostafa@gmail.com</span>
    </article>
    <article class="phone">
      <span class="head">Phone1: </span>
      <span class="info">01122695703</span>
    </article>
    <article class="phone">
      <span class="head">Phone2: </span>
      <span class="info">01093957807</span>
    </article>
  </div>
</section>
