<section class="about-me section">
  <app-section-title [title]="sectionTitle"> </app-section-title>
  <article class="img-name">
    <img [defaultImage]="defaultImage" [lazyLoad]="profileImgPath" alt="Profile image" class="profile-img" />
    <h1 class="name">I'm AbdElRahman Mostafa</h1>
    <p class="main-paragraph">
      I'd like to work in the field of programming. I like challenges and
      logical problems as a Full Stack Developer, also I like learning new
      topics in the field so I'm excited to work. I hope to be a manger so I can
      achieve what I've dreamt.
    </p>
    <div class="cv-wrapper">
      <a href="../../assets/pdf/Programming CV.pdf" download="AbdElRahman CV"
        >Download My CV</a
      >
    </div>
  </article>
</section>
